.description {
  margin: 0 0 1em;
}

.link {
  display: inline-block;
  transition: border-color 0.25s;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #1a1a1a;
  padding: 0.6em 1.2em;
  color: inherit;
  font-weight: 500;
  font-size: 1em;
  font-family: inherit;
  text-decoration: none;
}
.link:hover {
  border-color: #646cff;
}
.link:focus,
.link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .link {
    background-color: #f9f9f9;
  }
}
